.footer{
    padding: 4rem 6rem;
  width: 100%;
background-color: black;
color: white;

}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    flex-wrap: wrap;
    margin-right: 400px;
}
.top i{

    color: white;
    font-size: 2rem;
    /* margin-right: 200px; */
    margin-right:15px ;
    margin-left: 20px;
}
.top i:hover{
    color: cadetblue;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    /* justify-content: space-between; */
    gap: 12rem;
    flex-wrap: wrap;
}
.bottom>div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}
.bottom a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
}
@media screen and (max-width:850px){
    .footer{
        padding: -10rem 2rem;

    }
    .footer>i{
        padding: 1rem 1rem 0 0;
        margin-left: 10px;
        display: flex;

    }

    .bottom div{
        width: 50%;
    }
    .bottom{
        padding-top: 2rem;
        text-align: start;
        display: flex;
        /* justify-content: space-between; */
        gap: 2rem;
        /* flex-wrap: wrap; */
    }
}
@media screen and(max-width:739px){
    .footer{
        padding: 4rem 2rem;
        margin-left: 100px;
    }
    .footer i{
        padding: 1rem 1rem 0 0;

    }
    .bottom div{
        width: 50%;
    }
    .bottom{
        padding-top: 2rem;
        text-align: start;
        display: flex;
        /* justify-content: space-between; */
        gap: 2rem;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:850px){
    
    .footer>i{
        padding: 1rem 1rem 0 0;
        margin-left: 10px;
        display: flex;

    }
}

    /* .bottom div{
        width: 50%;
    }
    .bottom{
        padding-top: 2rem;
        text-align: start;
        display: flex;
        /* justify-content: space-between; */
        /* gap: 2rem; */
        /* flex-wrap: wrap; */
    /* *